/*.miclasemodal.modal-lg {
    hax estoo*/
    .btn {
        background-color: none;
        padding: 0% 5%;
    }
    #logo img{
        height: 56px;
    }
    .container{
        height:auto;
        width:auto;
    }

    .image-height-300{
        height:300px;
        width:auto;
    }
    .image-border-style{
        margin:2px 1px;
    }
    .container-fluid{
        margin-top: 5px;
    }
    .dropdown-menu a:hover{
        display:block;
    }
    .navbar{
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: rgba(255,255,255);
    }
    #asset{
        padding-top: 4%;
    }
    .dropdown li{
        padding-top: 10px;
    }
    .header{
        transition: top 0.2s ease-in-out;
    }
    
    /*.body{
        
        background: linear-gradient(308deg, #ff4b1f, #1fddff);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        -o-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
        @-webkit-keyframes AnimationName {
            0%{background-position:0% 94%}
            50%{background-position:100% 7%}
            100%{background-position:0% 94%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 94%}
            50%{background-position:100% 7%}
            100%{background-position:0% 94%}
        }
        @-o-keyframes AnimationName {
            0%{background-position:0% 94%}
            50%{background-position:100% 7%}
            100%{background-position:0% 94%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 94%}
            50%{background-position:100% 7%}
            100%{background-position:0% 94%}
        }
    }*/